@model IEnumerable<Data.Models.Rendezvous>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_insurancetemplate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRendezVous)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomAssurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRendezVous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomAssurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RendezVousId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RendezVousId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RendezVousId })
        </td>
    </tr>
}

</table>
