<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="@Url.Content("~/Content/insuranceTemplate/image/favicon.png")" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/insuranceTemplate/css/vendor.bundle.css")">
    <link id="style-css" rel="stylesheet" type="text/css" href="@Url.Content("~/Content/insuranceTemplate/css/style.css")">
    <script type="text/javascript">
        function InitializeMap() {
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("gmap"), myOptions);
        }
        window.onload = InitializeMap;
    </script>
</head>
<body class="site-body style-v1">
    <header class="site-header header-s1 is-sticky">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="top-aside top-left clearfix hidden-xs">
                        <p><strong>We are licensed in NY, NJ, PA, MA, FL, CT.</strong></p>
                    </div>
                    <div class="top-aside top-right clearfix">
                        <ul class="social clearfix hidden-xs">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                        <ul class="top-contact clearfix">
                            <li class="t-phone t-phone1">
                                <em class="fa fa-phone" aria-hidden="true"></em>
                                <span><a href="tel:8001235689">(800) 123-5689</a></span>
                            </li>
                            <li class="quote-btn">
                                <a href="get-a-quote.html" class="btn">Get A Quote</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Topbar -->
        <!-- Navbar -->
        <div class="navbar navbar-primary">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="index.html">
                    <img class="logo logo-dark" alt="" src="@Url.Content("~/Content/insuranceTemplate/image/logo.png")" srcset="@Url.Content("~/Content/insuranceTemplate/image/logo2x.png 2x")">
                    <img class="logo logo-light" alt="" src="@Url.Content("~/Content/insuranceTemplate/image/logo_white.png")" srcset="@Url.Content("~/Content/insuranceTemplate/image/logo_white2x.png 2x")">
                </a>
                <!-- #end Logo -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
                            aria-expanded="false">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Q-Button for Mobile -->
                    <div class="quote-btn"><a class="btn" href="get-a-quote.html"><span>Get A Quote</span></a></div>
                </div>
                <!-- MainNav -->
                <nav class="navbar-collapse collapse" id="mainnav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="index-2.html" class="dropdown-toggle">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="index-2.html">Home - Default</a></li>
                                <li><a href="index-v2.html">Home - Personal</a></li>
                                <li><a href="index-v3.html">Home - Life</a></li>
                                <li><a href="index-v4.html">Home - Aircraft</a></li>
                                <li><a href="index-v5.html">Home - Brook</a></li>
                                <li><a href="index-v6.html">Home - Knight</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="about.html">About Us <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="about-alter.html">About - Alter</a></li>
                                <li><a href="teams.html">Teams - Classic</a></li>
                                <li><a href="teams-alter.html">Teams - Alter</a></li>
                                <li><a href="faqs.html">FAQ's - Classic</a></li>
                                <li><a href="contact-extend.html">Contact - Extend</a></li>
                                <li><a href="claims.html">Report a Claim</a></li>
                                <li><a href="shortcode.html">Shortcodes Section <span class="label label-danger">Hot</span></a></li>
                                <li><a href="typography.html">Typography Visual</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="insurance-services.html">Insurance Services <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Service Page Styles <span class="label label-warning">More</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="services.html">Services - Classic</a></li>
                                        <li><a href="services-alter.html">Services - Alter</a></li>
                                        <li><a href="service-single.html">Service Single - Classic</a></li>
                                        <li><a href="service-single-alter.html">Services Single - Alter</a></li>
                                    </ul>
                                </li>
                                <li><a href="insurance-homeowner.html">Homeowner's Insurance</a></li>
                                <li><a href="insurance-personal.html">Personal Insurance</a></li>
                                <li><a href="insurance-auto.html">Auto Insurance</a></li>
                                <li><a href="insurance-commercial.html">Commercial Insurance</a></li>
                                <li><a href="insurance-life.html">Life &amp; Health Insurance</a></li>
                                <li><a href="insurance-renters.html">Renter's Insurance</a></li>
                            </ul>
                        </li>
                        <li><a href="testimonial.html">Testimonials</a></li>
                        <li><a href="client-resource.html">Client Resource</a></li>
                        <li><a href="news.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <!-- #end MainNav -->
            </div>
        </div>
    </header>
    <div class="section section-contents section-contact section-pad">
        <div class="container">
            <div class="content row">
                <div class="contact-content row"> 
                        @RenderBody()
                </div>
            </div>
         </div>
     </div>
                    <div class="footer-widget section-pad-md">
                        <div class="container">
                            <div class="row">
                                <div class="widget-row row">
                                    <div class="footer-col col-md-3 col-sm-6 res-m-bttm">
                                        <!-- Each Widget -->
                                        <div class="wgs wgs-footer wgs-menu">
                                            <h5 class="wgs-title">Our Services</h5>
                                            <div class="wgs-content">
                                                <ul class="menu">
                                                    <li><a href="#">Homeowner's insurance</a></li>
                                                    <li><a href="#">Personal Insurance</a></li>
                                                    <li><a href="#">Auto Insurance</a></li>
                                                    <li><a href="#">Commercial Insurance</a></li>
                                                    <li><a href="#">Life &amp; Health Insurance</a></li>
                                                    <li><a href="#">Renter's Insurance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                    </div>
                                    <div class="footer-col col-md-3 col-sm-6 res-m-bttm">
                                        <!-- Each Widget -->
                                        <div class="wgs wgs-footer wgs-menu">
                                            <h5 class="wgs-title">Quick Links</h5>
                                            <div class="wgs-content">
                                                <ul class="menu">
                                                    <li><a href="index-2.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="testimonial.html">Testimonial</a></li>
                                                    <li><a href="services.html">Client Resources</a></li>
                                                    <li><a href="news.html">Our Blog</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                    </div>
                                    <div class="footer-col col-md-3 col-sm-6 res-m-bttm">
                                        <!-- Each Widget -->
                                        <div class="wgs wgs-footer">
                                            <h5 class="wgs-title">Proudly Serving</h5>
                                            <div class="wgs-content">
                                                <ul>
                                                    <li>Brooklyn, NY</li>
                                                    <li>Bushwick, NY</li>
                                                    <li>Long Beach, CA</li>
                                                    <li>Los Alamitos, CA</li>
                                                    <li>New Jersey, NJ</li>
                                                    <li>Florida, FL</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                    </div>
                                    <div class="footer-col col-md-3 col-sm-6">
                                        <!-- Each Widget -->
                                        <div class="wgs wgs-footer">
                                            <div class="wgs-content">
                                                <div class="footer-logo"><img src="image/logo.png" srcset="image/logo2x.png 2x" alt=""></div>
                                                <ul class="contact-info">
                                                    <li>
                                                        <span>Toll Free</span>: 800-123-5689<br>
                                                        <span>Phone</span>: 781-123-9865
                                                    </li>
                                                    <li><span>Fax</span>: 781-123-0011</li>
                                                    <li>
                                                        34 South Franklin Road <br>
                                                        Santa Ana, CA 8975, USA.
                                                    </li>
                                                </ul>
                                                <ul class="social social-v2">
                                                    <li><a href="#"><em class="fa fa-facebook" aria-hidden="true"></em></a></li>
                                                    <li><a href="#"><em class="fa fa-twitter" aria-hidden="true"></em></a></li>
                                                    <li><a href="#"><em class="fa fa-linkedin" aria-hidden="true"></em></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                    </div>
                                </div><!-- Widget Row -->
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget -->
                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="site-copy col-sm-7">
                                    <p>Copyright &copy; 2017 Insurance Pro Inc. License #1010155 <span class="sep"> . </span> <a href="#">Privacy Policy</a> <span class="sep"> . </span> <a href="#">Sitemap</a></p>
                                </div>
                                <div class="site-by col-sm-5 al-right">
                                    <p>Template Design &amp; Made <em class="fa fa-heart text-danger"></em> by <a href="http://softnio.com/" target="_blank">Softnio</a></p>
                                </div>
                                <div class="site-dclaim col-sm-12">
                                    <p class="small"><strong>Disclaimer:</strong> The material on this website is for demostration purpose only and is provided denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue. These cases are perfectly simple and easy to distinguish.</p>
                                </div>
                            </div>
                        </div>
                    </div>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDNaa8LOQISEST6NIGC78vmdnIOynR2SeU"></script>
    <script src="@Url.Content("~/Content/insuranceTemplate/js/gmaps.js")"></script>
                    <script src="@Url.Content("~/Content/insuranceTemplate/js/jquery.bundle.js")"></script>
                    <script src="@Url.Content("~/Content/insuranceTemplate/js/script.js")"></script>
</body>
</html>
